{% for c in assetCategory %}

<tr>
<td></td>
<td>{{c.name}}</td>
<td>{{c.description}}</td>
<td>{{c.code}}</td>
 <td>{{c.isPartOf|default_if_none:'-'}}</td>






 <td>

   <div class="d-flex">
       <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1 btn-sm js-update-assetCategory"   data-url="{% url 'assetCategory_update' c.id %}"><i class="fa fa-pencil"></i></a>
       <a href="#" class="btn btn-danger shadow btn-xs sharp js-delete-assetCategory"  data-url="{% url 'assetCategory_delete' c.id %}"><i class="fa fa-trash"></i></a>
   </div>
   
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center alert alert-danger alert-dismissible fade show">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
