
{% load widget_tweaks %}
<div class="card">
  <div class="card-body">
    <div class="row">
    <div class="col-sm-4 b-r">
      {% load static %}
      <img src="{% static 'img/if_industry_50840.png' %}" / >
      <input type=hidden name='lastPartid' id='lastPartid' value='{{lId}}'/>
      <input type=hidden name='issavechanged' id='issavechanged' value='-1'/>




    </div>
    <div class="col-sm-8 b-r">
      <div class="form-group">
        {{ form.partCategory.as_hidden }}

      </div>
      <div class="form-group">


      <label>{{form.partCategory.label}}</label>

      {{form.partcategorytxt| add_class:"form-control" }}
      </div>

      <div class="form-group">
      <label>{{form.partName.label}}</label>
      {{form.partName| add_class:"form-control" }}
      </div>
      <div class="form-group">
      <label>{{form.partDescription.label}}</label>
      {{form.partDescription| add_class:"form-control" }}
      </div>
      <div class="form-group">
      <label>{{form.partCode.label}}</label>
      {{form.partCode| add_class:"form-control" }}
      </div>

    </div>

    </div>

  </div>

</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
                        <div class="default-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#tab-11" aria-expanded="true"><i class="la la-home mr-2"></i>اطلاعات موجودی</a></li>
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#tab-12" aria-expanded="false"><i class="la la-user mr-2"></i>BOM</a></li>

                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3" aria-expanded="false"><i class="la la-user mr-2"></i>کاربران</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-4" aria-expanded="false"><i class="la la-user mr-2"></i>گارانتی</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="la la-user mr-2"></i>کسب و کار</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-6" aria-expanded="false"><i class="la la-user mr-2"></i>اطلاعات خرید</a></li>

                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-7" aria-expanded="false"><i class="la la-user mr-2"></i>پیوست ها</a></li>


                            </ul>
                            <div class="tab-content">
                                <div id="tab-11" class="tab-pane active">
                                    <div class="panel-body">

                                      <div class="row">
                                      <div class="col-lg-12">
                                        <div class="panel panel-info">
                                          <div class="panel-heading">

                                          </div>
                                          <div class="panel-body">
                                            <div class="row">
                                              <div class="col-lg-12">

                                              </div>

                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6">




                                              </div>
                                              <div class="col-lg-6">
                                                <div class="row">
                                                </div>
                                                <div class="row">
                                                  <div class="col-sm-4">


                                                  </div>
                                                  <div class="col-sm-4">


                                                  </div>
                                                  <div class="col-sm-4">


                                                  </div>



                                                </div>


                                              </div>

                                            </div>

                                          </div>


                                          </div>

                                        </div>


                                    </div>
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="panel panel-info">
                                          <div class="panel-heading">
                                          <i class="fa fa-info-circle"></i>   اطلاعات عمومی
                                          </div>
                                          <div class="panel-body">
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label>{{form.partAccount.label}}</label>
                                                  {{form.partAccount| add_class:"form-control" }}


                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.partChargeDepartment.label}}</label>
                                                  {{form.partChargeDepartment| add_class:"form-control" }}


                                                </div>

                                                <div class="form-group">
                                                  <label>{{form.partMake.label}}</label>
                                                  {{form.partMake| add_class:"form-control" }}


                                                </div>

                                              </div>
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label>{{form.partBarcode.label}}</label>
                                                  {{form.partBarcode| add_class:"form-control" }}


                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.partModel.label}}</label>
                                                  {{form.partModel| add_class:"form-control" }}


                                                </div>

                                                <div class="form-group">
                                                  <label>{{form.partLastPrice.label}}</label>
                                                  {{form.partLastPrice| add_class:"form-control" }}


                                                </div>
                                              </div>

                                            </div>
                                            <div class="row">
                                              <div class="col-sm-12">
                                                <div class="form-group">
                                                  <label>{{form.partNotes.label}}</label>
                                                  {{form.partNotes| add_class:"form-control" }}


                                                </div>


                                              </div>

                                            </div>

                                          </div>

                                        </div>

                                      </div>

                                    </div>






                                    </div>
                                    </div>

                                <div id="tab-12" class="tab-pane">
                                    <div class="panel-body">
                                      <div class='row'>
                                        <div class='col-lg-12'>
                                          <div class="panel panel-info">
                                               <div class="panel-heading">
                                                   <i class="fa fa-info-circle"></i> قطعات
                                               </div>
                                               <div class="panel-body">
                                                   <div class="row">
                                                     <div class="col-lg-12">


                                                     </div>

                                                   </div>
                                               </div>

                                          </div>




                                        </div>
                                      </div>

                                       </div>

                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">

                                        <div class='row'>
                                          <div class='col-lg-12'>
                                            <div class="panel panel-info">
                                                 <div class="panel-heading">
                                                     <i class="fa fa-info-circle"></i> قرائت
                                                 </div>
                                                 <div class="panel-body">
                                                     <div class="row">
                                                       <div class="col-lg-12">
                                                         <div class="panel panel-info">

                                                           <div class="panel-body">

                                                           </div>

                                                         </div>




                                                       </div>

                                                     </div>
                                                 </div>


                                          </div>
                                        </div>



                                    </div>
                                </div>
                              </div>


                              <div id="tab-4" class="tab-pane">
                                  <div class="panel-body">

                                      <div class='row'>
                                        <div class='col-lg-12'>
                                          <div class="panel panel-info">
                                               <div class="panel-heading">
                                                   <i class="fa fa-info-circle"></i> گارانتی
                                               </div>
                                               <div class="panel-body">
                                                   <div class="row">
                                                     <div class="col-lg-12">


                                                     </div>

                                                   </div>
                                               </div>


                                        </div>
                                      </div>

                                       </div>


                              </div>
                            </div>
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">

                                    <div class='row'>
                                      <div class='col-lg-12'>
                                        <div class="panel panel-info">
                                             <div class="panel-heading">

                                             </div>
                                             <div class="panel-body">
                                                 <div class="row">
                                                   <div class="col-lg-12">


                                                   </div>

                                                 </div>
                                             </div>


                                      </div>
                                    </div>

                                     </div>


                            </div>
                          </div>
                          <div id="tab-6" class="tab-pane">
                              <div class="panel-body">

                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">

                                           </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">


                                                 </div>

                                               </div>
                                           </div>


                                    </div>
                                  </div>

                                   </div>


                          </div>
                        </div>
                        <div id="tab-7" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">

                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">


                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>
                            <div id="tab-8" class="tab-pane">
                                <div class="panel-body">

                                    <div class='row'>
                                      <div class='col-lg-12'>
                                        <div class="panel panel-info">
                                             <div class="panel-heading">
                                                 <i class="fa fa-info-circle"></i>پیوستها
                                             </div>
                                             <div class="panel-body">
                                                 <div class="row">
                                                   <div class="col-lg-12">



                                                   </div>

                                                 </div>
                                             </div>


                                      </div>
                                    </div>

                                     </div>


                            </div>
                          </div>

                    </div>






                        </div>
                    </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="form-group">
    <button type="submit" class="btn btn-primary" >ذخیره</button>
    <button type="button" class="btn btn-default partClose" data-dismiss="modal">انصراف</button>

  </div>


</div>
<div class="row">
  <div class="modal fade" id="modal-partcategory" style="overflow-y: scroll">
   <div class="modal-dialog ">

     <div class="modal-content ">









     </div>
   </div>
  </div>

</div>
