{% load widget_tweaks %}

  <input type=hidden name='lastPurchaseRequestid' id='lastPurchaseRequestid' />

    <div class="row">
      <input type="hidden" name="req_ids" value="">

      <input type="hidden"  id="id_lastpurchase_id" value={{lid}} />
      <input type="hidden"  id="voice_id" value=[] />
      {{form.PurchaseRequestedUser.as_hidden}}
      {{form.PurchaseTayeedUser.as_hidden}}
      {{form.PurchaseStatus.as_hidden}}

    </div>

    {% load static %}

    {% block javascript %}

      <script src="{% static '/js/project/purchase.js' %}"></script>
    {% endblock %}
