<div class="row">
  <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">معمولی</h4>
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <div class="default-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home"><i class="la la-home mr-2"></i> خانه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile"><i class="la la-user mr-2"></i> پروفایل</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#contact"><i class="la la-phone mr-2"></i> ارتباط</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#message"><i class="la la-envelope mr-2"></i>پیام</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="home" role="tabpanel">

                                    {% include 'myapp/purchase/purchaseRequestList.html' %}
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <div class="pt-4">
                                        <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ

                                        </p>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact">
                                    <div class="pt-4">
                                      <div class="col-lg-12">
                  <div class="card text-center">
                      <div class="card-header d-block">
                          <h4 class="card-title">دکمه بدون رنگ و گوشه گرد</h4>
                          <p class="mb-0 subtitle">کلاس <code>.btn-rounded</code> را اضافه کنید .</p>
                      </div>
                      <div class="card-body">
                          <div class="rounded-button">
                            <a type="button" class="btn btn-rounded btn-outline-success" href="{% url 'record_voice' %}">موفق (روشن)</a>

                              <button type="button" class="btn btn-rounded btn-outline-success" data-toggle="modal"
                                        data-target="#exampleModalCenter">موفق (روشن)</button>
                                        <div class="modal fade" id="exampleModalCenter">
                                   <div class="modal-dialog modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title">عنوان</h5>
                                               <button type="button" class="close" data-dismiss="modal">
                                                   <span>&times;</span>
                                               </button>
                                           </div>
                                           <div class="modal-body">
                                               <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                           </div>
                                           <div class="modal-footer">
                                               <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                   بستن
                                               </button>
                                               <button type="button" class="btn btn-primary">دخیره</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                          </div>
                      </div>
                  </div>
              </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="message">
                                    <div class="pt-4">
                                        <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ

                                        </p>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
