{% for c in rfq %}

<tr data-url="{{c.id}}">
  <td class="py-2">
      <div class="custom-control custom-checkbox checkbox-{{c.get_status_color}}">
          <input type="checkbox" class="custom-control-input" id="checkbox{{c.id}}">
          <label class="custom-control-label" for="checkbox{{c.id}}"></label>
      </div>
  </td>

<td class="py-2">{{c.PurchaseRequestAsset}}</td>
<td class="py-2">{{c.PurchaseRequestPartName}}</td>

<td class="py-2">{{c.PurchaseRequestAssetQty}}</td>
 <td class="py-2">{% autoescape off %}{{c.get_pstatus}}{% endautoescape %}</td>









 <td>

   <div class="d-flex">
       <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1 btn-sm js-update-purchaseRequestItem"   data-url="{% url 'purchase_item_update' c.id %}"><i class="fa fa-pencil"></i></a>
       <a href="#" class="btn btn-danger shadow btn-xs sharp js-delete-purchase-item"  data-url="{% url 'purchase_item_delete' c.id %}"><i class="fa fa-trash"></i></a>
   </div>


    </td>
</tr>
{% empty %}
<tr id="itemisempty">
 <td colspan="10" class="text-center ">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
