{% for c in rfq %}

<tr data-url="{{c.id}}">
<td></td>

<td>{{c.PurchaseRequestAsset}}</td>
<td>{{c.PurchaseRequestPartName}}</td>

<td>{{c.PurchaseRequestAssetQty}}</td>
 <td>{% autoescape off %}{{c.get_pstatus}}{% endautoescape %}</td>









 <td>

   <div class="d-flex">
       <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1 btn-sm js-update-purchaseRequestItem"   data-url="{% url 'purchase_item_update' c.id %}"><i class="fa fa-pencil"></i></a>
       <a href="#" class="btn btn-danger shadow btn-xs sharp js-delete-purchase-item"  data-url="{% url 'purchase_item_delete' c.id %}"><i class="fa fa-trash"></i></a>
   </div>


    </td>
</tr>
{% empty %}
<tr>
 <td colspan="10" class="text-center ">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
