{% block menu %}

{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">داشبورد</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="index.html">داشبورد روشن</a></li>
                    <li><a href="index2.html">داشبورد تیره</a></li>
                    <li><a href="search-job.html">جستجوی شغل</a></li>
                    <li><a href="application.html">نرم افزار های کاربردی</a></li>
                    <li><a href="profile.html">پروفایل</a></li>
                    <li><a href="job-find.html">پیدا کردن شغل</a></li>
                    <li><a href="companies.html">شرکتی</a></li>
                    <li><a href="statistics.html">آمار و اطلاعاتی</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-television"></i>
                <span class="nav-text">کارتابل</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="app-profile.html">پروفایل</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">ایمیل</a>
                        <ul aria-expanded="false">
                            <li><a href="email-compose.html">ارسال ایمیل</a></li>
                            <li><a href="email-inbox.html">صندوق دریافتی</a></li>
                            <li><a href="email-read.html">خواندن</a></li>
                        </ul>
                    </li>
                    <li><a href="app-calender.html">تقویم</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">فروشگاه</a>
                        <ul aria-expanded="false">
                            <li><a href="ecom-product-grid.html">جدول بندی محصول</a></li>
                            <li><a href="ecom-product-list.html">لیست محصول</a></li>
                            <li><a href="ecom-product-detail.html">جزئیات محصول</a></li>
                            <li><a href="ecom-product-order.html">سفارش ها</a></li>
                            <li><a href="ecom-checkout.html">تسویه حساب</a></li>
                            <li><a href="ecom-invoice.html">درآمد</a></li>
                            <li><a href="ecom-customers.html">مشتریان</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-controls-3"></i>
                <span class="nav-text">کارتابل جریان کار</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="chart-flot.html">نمودارد Flot</a></li>
                    <li><a href="chart-morris.html">نمودار Morris</a></li>
                    <li><a href="chart-chartjs.html">نمودار Chartjs</a></li>
                    <li><a href="chart-chartist.html">نمودار Chartist</a></li>
                    <li><a href="chart-sparkline.html">نمودار Sparkline</a></li>
                    <li><a href="chart-peity.html">نمودار Peity</a></li>
                </ul>
            </li>
            
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-internet"></i>
                <span class="nav-text">ابزار های بوت استرپ</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="ui-accordion.html">آکوردین (اسلاید کشویی)</a></li>
                    <li><a href="ui-alert.html">هشدار</a></li>
                    <li><a href="ui-badge.html">نشان ها</a></li>
                    <li><a href="ui-button.html">دکمه</a></li>
                    <li><a href="ui-modal.html">مودال</a></li>
                    <li><a href="ui-button-group.html">دکمه گروهی</a></li>
                    <li><a href="ui-list-group.html">لیست گروهی</a></li>
                    <li><a href="ui-media-object.html">محتوا</a></li>
                    <li><a href="ui-card.html">کادر محتوا</a></li>
                    <li><a href="ui-carousel.html">اسلایدر</a></li>
                    <li><a href="ui-dropdown.html">منو کشویی</a></li>
                    <li><a href="ui-popover.html">پیغام شناور ( Popover )</a></li>
                    <li><a href="ui-progressbar.html">پروگرس بار</a></li>
                    <li><a href="ui-tab.html">تب ها</a></li>
                    <li><a href="ui-typography.html">تایپوگرافی</a></li>
                    <li><a href="ui-pagination.html">صفحه بندی</a></li>
                    <li><a href="ui-grid.html">تقسیم بندی</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-heart"></i>
                <span class="nav-text">پلاگین ها</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="uc-select2.html">منوکشویی 2 (Select 2)</a></li>
                    <li><a href="uc-nestable.html">ساختار درختی</a></li>
                    <li><a href="uc-noui-slider.html">انواع اسلاید کنترول</a></li>
                    <li><a href="uc-sweetalert.html">پلاگین هشدار Sweet alert</a></li>
                    <li><a href="uc-toastr.html">پیغام Toastr</a></li>
                    <li><a href="map-jqvmap.html">نقشه</a></li>
                    <li><a href="uc-lightgallery.html">گالری تصاویر</a></li>
                </ul>
            </li>
            <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">
                <i class="flaticon-381-settings-2"></i>
                <span class="nav-text">ابزارک های جالب</span>
            </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-notepad"></i>
                <span class="nav-text">فرم ها</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="form-element.html">ابزار های فرم</a></li>
                    <li><a href="form-wizard.html">فرم مرحله ای یا جادویی</a></li>
                    <!--                            <li><a href="form-editor-summernote.html">کادر ویرایش متنی</a></li>-->
                    <li><a href="form-pickers.html">انتخاب تاریخ ، رنگ و زمان</a></li>
                    <li><a href="form-validation-jquery.html">جی کوئری ولیدیت (JQuery Validate)</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-network"></i>
                <span class="nav-text">جدول</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="table-bootstrap-basic.html">بوت استرپ</a></li>
                    <li><a href="table-datatable-basic.html">دیتاتیبل(جدول داده)</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-layer-1"></i>
                <span class="nav-text">صفحه ها</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="page-register.html">ثبت نام</a></li>
                    <li><a href="page-login.html">ورود</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">ارور</a>
                        <ul aria-expanded="false">
                            <li><a href="page-error-400.html">ارور 400</a></li>
                            <li><a href="page-error-403.html">ارور 403</a></li>
                            <li><a href="page-error-404.html">ارور 404</a></li>
                            <li><a href="page-error-500.html">ارور 500</a></li>
                            <li><a href="page-error-503.html">ارور 503</a></li>
                        </ul>
                    </li>
                    <li><a href="page-lock-screen.html">قفل کردن صفحه</a></li>
                </ul>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>پنل مدیریت</strong> تمام حقوق محفوظ است </p>
            <p>سرو رایان</p>
        </div>
    </div>
</div>

{% endblock %}