{% block menu %}

{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">داشبورد</span>
            </a>

            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-television"></i>
                <span class="nav-text">کارتابل</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="app-profile.html">پروفایل</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">ایمیل</a>
                        <ul aria-expanded="false">
                            <li><a href="email-compose.html">ارسال ایمیل</a></li>
                            <li><a href="email-inbox.html">صندوق دریافتی</a></li>
                            <li><a href="email-read.html">خواندن</a></li>
                        </ul>
                    </li>
                    <li><a href="app-calender.html">تقویم</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">فروشگاه</a>
                        <ul aria-expanded="false">
                            <li><a href="ecom-product-grid.html">جدول بندی محصول</a></li>
                            <li><a href="ecom-product-list.html">لیست محصول</a></li>
                            <li><a href="ecom-product-detail.html">جزئیات محصول</a></li>
                            <li><a href="ecom-product-order.html">سفارش ها</a></li>
                            <li><a href="ecom-checkout.html">تسویه حساب</a></li>
                            <li><a href="ecom-invoice.html">درآمد</a></li>
                            <li><a href="ecom-customers.html">مشتریان</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-controls-3"></i>
                <span class="nav-text">کارتابل جریان کار</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="chart-flot.html">نمودارد Flot</a></li>

                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-controls-3"></i>
                <span class="nav-text">بازرگانی</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'list_purchaseRequest' %}">درخواست ها</a></li>
                    <li><a href="{% url 'list_planning_board' %}">بورد خرید</a></li>

                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-controls-3"></i>
                <span class="nav-text">پشتیبانی</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'list_part' %}">قطعه</a></li>
                  

                </ul>
            </li>


        </ul>
        <div class="copyright">
            <p><strong>پنل مدیریت</strong> تمام حقوق محفوظ است </p>
            <p>سرو رایان</p>
        </div>
    </div>
</div>

{% endblock %}
